*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

li{
    list-style-type: none;
    color: black;
}

a{
    text-decoration: none;
}

